h1 {
  color: red;
  font-size: 100px; }

header {
  background-color: #96f7f7;
  width: 100%;
  display: flex;
  flex-direction: column; }
  header div {
    display: flex;
    justify-content: space-around; }
  header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row; }
